*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}


input,label{
    display: block;
}

.radio-box{
    display: flex;
    flex-direction: column;
}

input[type=radio]{
    display: inline-block;
    width: auto;
}

.radio-input-box{
    display: flex;
    gap: 1rem;
}

.topic-box-1,.topic-box-2{
    display: none;
}

.topic-box-1.active{
    display: block;
}
.topic-box-2.active{
    display: block;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.pdf-form{
     padding: 0rem 1.5rem;
}

.general-details{
   

 display: flex; 
 gap: 1rem;
 flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;  */
}

.sub-div{

    flex: 1 1 50% ;
}

@media (min-width:765px) {
    .sub-div{

        flex: 1 1 40% ;
    }
}

.heading{
    padding:0rem 1.5rem ;
    margin-top: 70px;
    margin-bottom: 70px;
}

input{
   width: 100%;
   padding: .5rem 1rem;
   font-size: 1rem;
}

.personal-details{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1rem;
}
.teacher-details,.student-details{
    flex: 1 1 40%;
}

.sub-btn{
    padding: .5rem 1rem;
    cursor: pointer;
    background: blueviolet;
    border-radius: .2rem;
    color: white;
    border: none;
}